# PostgreSQL
POSTGRES_DB=complipilot
POSTGRES_USER=complipilot
POSTGRES_PASSWORD=123456
POSTGRES_PORT=5432

# Spring Boot API
API_PORT=8080
DATABASE_URL=jdbc:postgresql://localhost:5432/complipilot
DATABASE_USERNAME=complipilot
DATABASE_PASSWORD=123456

# CORS
APP_CORS_ALLOWED_ORIGINS=http://localhost:3000